
.box {
  background-color: black;
  height: 70px;
  width: 100%;
  max-width: 70px;
  display: inline-block;
  margin: 5px;
  position: relative;
}

.box .btn-delete {
  position: absolute;
  right: 5px;
  top: 5px;
}